.ChatMessage {
    width: 100%;
    margin-top: 0.75vh;
    margin-bottom: 1.2vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.ChatMessage-message-avatar {
    width: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ChatMessage-message-avatar__icon {
    font-size: 3.1vh;
}

.ChatMessage-message-avatar__username {
    font-size: 1.2vh;
    word-break: break-word;
}

.ChatMessage-message-text {
    word-break: break-word;
    flex-basis: 25%;
    background-color: rgb(183, 213, 233);
    border-radius: 3%;
    padding: .7vh 2vh .7vh 1vh;
}